@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  height: 700px;

    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fce4ec;
    transition: all 0.3s ease;

}
.parent-login-container {
    position: relative;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(255, 105, 180, 0.5);
    overflow: hidden;
    width: 750px;
    max-width: 90%;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 2rem;
    /* transform: scale(1.5); */
    cursor: pointer;
    color: #B2BEB5;

}
.close-btn:hover {
    color: #ad1457;
}
.side-image-div {
     width: 45%;
    /* border:1px solid red; */
    background: url('https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center;
    background-size: cover;
    
}
.side-image-child-div{    
    /* width: 45%; */
    
}
.login-form-whole {
    width: 55%;
    padding: 70px 40px  50px 40px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border:2px solid red; */
}
.login-form-whole h2 {
    text-align: center;
    color: #0A0A0A;
    margin-bottom: 40px;
    /* border: 1px solid red;; */
    position: relative;
    font-size: 2rem;;
    font-weight: 900;
    bottom:20px;
    margin-top: 10px;;
}
.form-div-container{
    /* border: 1px solid red;; */
    position: relative;
    bottom: 20px;;

}
.input-group-div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border:1px solid black; */
    /* align-items: center; */
    /* border-color: #B2BEB5; */
    /* outline-color: #B2BEB5; */
    position: relative;
    padding:0px;
    
    
}
.input-child-div{
    position: relative;
    /* margin: 0px 0px; */
    background: white;
    padding: 8px 12px;
    border-radius: 10px;
    border:1px solid #B2BEB5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-child-div i {
    margin-right: 10px;
    color: #B2BEB5;;
    cursor: pointer;
}
.input-child-div input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 10px;
    color: black;
}
.input-child-div::after {
    content: '';
    height: 30px;
    width: 1px;
    background: #B2BEB5;;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}
.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #B2BEB5;;
}
.options {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 12px 0;
    color: #B2BEB5;;
}
.options label {
    color: #708090;;
}
.options input[type="checkbox"] {
    accent-color: #d81b60;
}
.options a {
    color: #d81b60;
    text-decoration: none;
}
.options a:hover {
    text-decoration: underline;
}
.login-btn {
    width: 100%;
    padding: 12px;
    background: #f8bbd0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    transition: background-color 0.4s ease-in-out;
    transition: all 0.4s ease;

}
.login-btn:hover {
    transform: translateY(-2px);

    background: #d81b60;
     
}
.divider {
    text-align: center;
    margin: 15px 0;
    color: #708090;
    position: relative;
    font-size:0.8rem;;
}

.divider::before, .divider::after {
    content: "";
    display: block;
    width: 28%;
    height: 1px;
    background: #708090;
    position: absolute;
    top: 50%;
}
.divider::before {
    left: 0;
}
.divider::after {
    right: 0;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;;
}
.social-login button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    width: 100px;
}
.google {
    background: #e91e63;
    color: white;
}
.facebook {
    background: #c2185b;
    color: white;
}
.apple {
    background: #880e4f;
    color: white;
}
.signup {
    text-align: center;
    margin-top: 40px;
    font-size: 0.8rem;
}
.signup a {
    color: #d81b60;
    /* text-decoration: none; */
}

@media(max-width: 649.5px) {
    .body{
        font-size: 1em;;
    }
    .parent-login-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .login-form-whole{
    width: 85%;

    padding: 70px 5px  50px 5px;;

    }
    .close-btn {
        top:1%;
        left:88%;
    }
    
  }
  
@media screen and (max-width:494.5px) {
    .options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
    .divider::before, .divider::after {
        content: "";
        display: block;
        width: 24%;
        height: 1px;
        background: #708090;
        position: absolute;
        top: 50%;
    }
    .divider::before {
        left: 0;
    }
    .divider::after {
        right: 0;
    }
    
}

@keyframes shake-horizontal {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      transform: translateX(10px);
    }
    80% {
      transform: translateX(8px);
    }
    90% {
      transform: translateX(-8px);
    }
  }
  
  
.Error-msg{
    margin: 10px;;
    color: rgb(255, 0, 0);
    font-size: 0.8rem;
}
.Error-msg1{
    /* margin:-25px 0px 5px 15px;; */
    margin: 10px;;
    font-size: 0.8rem;

    color: rgb(255, 0, 0);
}


  
  .inputbox-box.incorrect {
     border: red;
     border-color: red;
     border: 2px red solid;
     animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both ;
  }


#shakebox.incorrect {
    border: red;
    border-color: red;
    border: 2px red solid;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both ;
 }
 #shakebox1.incorrect {
    border: red;
    border-color: red;
    border: 2px red solid;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both ;
 }